body {
  background-color: black;
  color: rgba(41, 171, 227, 0.907);
  text-shadow: 1px 1px 4px rgba(6, 0, 168, 0.931);
}

.text-muted {
  color: rgb(127, 221, 255) !important;
}

.row {
  margin-top: 3rem;
}

.line {
  background-color: rgba(41, 171, 227, 0.907);
  height: 2px;
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 3rem;
}
.first-line {
  margin: 0;
}
